/* logo header in the sidebar */
#header {
  line-height: 1;
  margin: 2rem auto;
}
#header .subheading {
  font-size: 2rem;
  color: #EDF0FB;
}

/* capitalize parent items */
#homelinks, #sidebar ul.topics > li > a, #sidebar ul.topics > li > a , #sidebar ul.topics > li > ul > li > a {
  text-transform: uppercase;
}

/* searchbox placeholder text*/
#sidebar .searchbox #search-by, #sidebar .searchbox #search-by::placeholder {
  color: white;
}
#sidebar .searchbox #search-by::placeholder {
  opacity: 0.65;
}
.autocomplete-suggestion {
  border-color: white;
}
.autocomplete-suggestion:first-child {
  border-top: 1px solid #FFFFFF90;
}
.autocomplete-suggestion.selected {
  background-color: #6969C7;
}

/* remove table of contents popup if empty */
#TableOfContents:empty {
  display: none;
}

/* footer */
#footer {
  font-size: var(--FOOTER-TEXT-HEIGHT);
}
#footer object {
  height: var(--FOOTER-TEXT-HEIGHT);
  vertical-align: text-top;
}
