:root {
    --MAIN-TEXT-color: #000; /* Color of text by default */
    --MAIN-TITLES-TEXT-color: #393630; /* Color of titles h2-h3-h4-h5-h6 */
    --MAIN-LINK-color: #5b80b9; /* Color of links */
    --MAIN-LINK-HOVER-color: #0645ad; /* Color of hovered links */
    --MAIN-ANCHOR-color: #aec9f2b3; /* color of anchors on titles */

    --MAIN-CODE-color: #e2e4e5; /* fallback color for code background */
    --MAIN-CODE-BG-color: #282a36; /* fallback color for code text */

    --MENU-HOME-LINK-color: #FFFC; /* Color of the home button text */
    --MENU-HOME-LINK-HOVER-color: #FFF; /* Color of the hovered home button text */

    --MENU-HEADER-BG-color: #3737B4; /* Background color of menu header */
    --MENU-HEADER-BORDER-color: #3737B4; /*Color of menu header border */

    --MENU-SEARCH-BG-color: #6969C7; /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BOX-color: #7070f4; /* Override search field border color */
    --MENU-SEARCH-BOX-ICONS-color: #A4B0EE; /* Override search field icons color */

    --MENU-SECTIONS-ACTIVE-BG-color: #20272b; /* Background color of the active section and its children */
    --MENU-SECTIONS-BG-color: #252c31; /* Background color of other sections */
    --MENU-SECTIONS-LINK-color: #ccc; /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: #e6e6e6;  /* Color of links in menu, when hovered */
    --MENU-SECTION-ACTIVE-CATEGORY-color: #777; /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #fff; /* Color of background for the active category (only) */

    --MENU-VISITED-color: #33a1ff; /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color: #20272b; /* Color of <hr> separator in menu */

    /* not in the default theme */
    --FOOTER-TEXT-HEIGHT: 0.8rem;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI", "Lucida Grande", Arial, sans-serif;
}
body {
    font-size: 1em !important;
    line-height: 1.5em;
    font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.6;
}
#body h6 {
  letter-spacing: -0.5px;
}

/* inline (not block) code */
:not(pre) > code.copy-to-clipboard-inline {
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    margin: 0 2px;
    padding: 0 5px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    border-radius: 1px;
    font-size: 0.95em;
    color: #444;
}
/* hide copy to clipboard button*/
code.copy-to-clipboard-inline + .copy-to-clipboard {
    display: none;
}
