<p id="countdown"></p>

<script type="module">
    let update = () => {
        let date = new Date("{{ .Get 1 }}").getTime();
        let countdown = document.getElementById("countdown");
        let curr = new Date().getTime();
        let until = date - curr;

        if(until < 0) {
            countdown.innerHTML = "Event has started!";
            return;
        }

        let days = Math.floor(until / (60 * 60 * 24 * 1000));
        let hours = Math.floor((until % (60 * 60 * 24 * 1000)) / (60 * 60 * 1000));
        let minutes = Math.floor((until % (60 * 60 * 1000)) / (60 * 1000));
        let seconds = Math.floor((until % (60 * 1000)) / 1000);

        countdown.innerHTML = '{{ .Get 0 }}' + days + " Days, " + hours + " Hours, " + minutes + " Minutes, and " + seconds + " Seconds." + '{{ .Get 2 }}';
    }
    setInterval(update, 1000);
</script>