{{- $collection := .Get 0 }}
{{- $thing := .Get 1 }}
{{- $arg := split $thing "," }}
<div class="table-wrapper">
	<table id="users-table">
		<thead>
			<tr>
				<th class="header rank">Rank</th>
				<th class="header username">Name</th>
				{{ range $arg }}
					<th class="points header">{{ . }}</th>
				{{ end }}
				<th class="header points">Total Points</th>
			</tr>
		</thead>
		<tbody id="table-content"></tbody>
	</table>
	<p id="message"></p>
	<script type="module">
		var table = document.getElementById("table-content");
		var message = document.getElementById("message");
		import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.0/firebase-app.js";
		import { getFirestore, doc, getDocs, collection } from "https://www.gstatic.com/firebasejs/9.6.0/firebase-firestore.js";

		const firebaseConfig = {
			apiKey: "AIzaSyAj-3xlFPMDgu4R03jqHfkIXpoG1QQ1wNc",
			authDomain: "mcpt-learning.firebaseapp.com",
			projectId: "mcpt-learning",
			storageBucket: "mcpt-learning.appspot.com",
			messagingSenderId: "365624016671",
			appId: "1:365624016671:web:6624b2c7f84ad18df9ba2a",
			measurementId: "${config.measurementId}"
		};

		const app = initializeApp(firebaseConfig);
		const db = getFirestore(app);
		const lb = collection(doc(collection(db, "{{ $collection }}"), "leaderboard"), "users");

		const querySnapshot = await getDocs(lb);
		const users = [];
		querySnapshot.forEach((doc) => {
			const data = doc.data();
			const name = data.name;
			const scores = data.scores;

			let sum = 0;
			for (let i = 0; i < scores.length; i++) sum += scores[i];
			users.push({
				name: name,
				scores: scores,
				total: sum
			});

		});
		users.sort((a, b) => b.total - a.total);
		let prevRank = 0;
		for (let i = 0; i < users.length; i++) {
			const user = users[i];
			var row = table.insertRow();
			var rank = row.insertCell();

			if (user.total !== users[prevRank].total) prevRank = i;
			rank.textContent = "" + (prevRank + 1);

			var name = row.insertCell();
			name.className = "user-name";
			let name_span = document.createElement("span");
			name_span.className = "user";
			name_span.textContent = user.name;
			name.appendChild(name_span);
			for (let i = 0; i < user.scores.length; i++) {
				var score = row.insertCell();
				var scoreValue = user.scores[i];
				if (scoreValue > `{{.Get 2}}`) {
					var bonus = scoreValue - `{{.Get 2}}`;
					score.className = "first-solve full-score";
					score.textContent = "{{.Get 2}}\n";
					let bonus_node = document.createElement("font");
					bonus_node.className = "bonus";
					bonus_node.textContent = "+" + bonus;
					score.appendChild(bonus_node);
				} else if (scoreValue == `{{.Get 2}}`) {
					score.className = "full-score";
					score.textContent = "{{.Get 2}}";
				}
			}
			var total = row.insertCell();
			total.className = "user-points";
			total.textContent = user.total;
		}
		if (users.length === 0) message.textContent = "Nobody's here! You could be the first...";
	</script>
</div>
